---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
...
