[submodule "externals/dolphin"]
	path = externals/dolphin
	url = https://github.com/dolphin-emu/dolphin.git
[submodule "reference/sms"]
	path = reference/sms
	url = https://github.com/doldecomp/sms.git
