[submodule "reference/sms"]
	path = reference/sms
	url = https://github.com/SomeoneIsWorking/sms.git
	branch = sunbright
[submodule "extern/aurora"]
	path = extern/aurora
	url = https://github.com/SomeoneIsWorking/aurora.git
	branch = sunbright
[submodule "extern/dolphin"]
	path = extern/dolphin
	url = https://github.com/dolphin-emu/dolphin.git
	shallow = true
